<a href="https://colab.research.google.com/github/stormyCobra1199/experiments/blob/main/RR_DPL_UA2_Data_Manipulation_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clean the book information from British Library

You are given a CSV file - Book.csv, which contains the information about books from the British Library.

You are then required to complete the following tasks: 

Read the csv in a data_frame. (10 points)

Remove the following columns from the data_frame (20 points)
'Edition Statement', 
'Corporate Author', 
'Corporate Contributors', 
'Former owner', 
'Engraver', 
'Contributors', 
'Issuance type', 
'Shelfmarks'

Check the content of the column- 'Date of Publication’ and define a function to clean the value. E.g., the original value: 1879 [1878] to: 1879; [1858.] to 1858; (20 points)

Check the content of the column- ' Author’ and define a function to clean the value. And split the name to first name and last name. (10 points)

Check the content of the column- ‘Title’ and define a function to clean the value. E.g., the original value: Walter Forbes. [A novel.] By A. A to: Walter Forbes;  Love the Avenger. By the author of “All for Gr.. to Love The Avenger. (10 points)

Check the content of the column- ‘Place of Publication’ and define a function to clean the value. E.g., the original value: London; Virtue & Yorston to: London. (10 points)

In [180]:
import pandas as pd

df = pd.read_csv("Book.csv")
df = df.drop(labels=['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver', 'Contributors', 'Issuance type', 'Shelfmarks'], axis=1)

In [181]:
df['Date of Publication']=df['Date of Publication'].str.replace("\[1","1", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("\]-","1-", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("1]","1", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("2]","2", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("3]","3", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("4]","4", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("5]","5", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("6]","6", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("7]","7", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("8]","8", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("9]","9", regex=True)
df['Date of Publication']=df['Date of Publication'].str.replace("0]","0", regex=True)
df['Date of Publication']

0       1879 1878
1            1868
2            1869
3            1851
4            1857
          ...
8282         1838
8283     1831, 32
8284     18061-22
8285         1834
8286      1834-43
Name: Date of Publication, Length: 8287, dtype: object

In [182]:
def authorSplit(audata):
  audata = audata.str.split(',')
  return audata

df['Author'] = authorSplit(df['Author'])
df['Author'] = df['Author'].str[0]
df['Author']

0           A. A.
1              A.
2              A.
3              A.
4              A.
          ...
8282        GIDDY
8283       GLOVER
8284       LYSONS
8285    Mackenzie
8286          NaN
Name: Author, Length: 8287, dtype: object

In [183]:
def titleSplit(tdata):
  tdata = tdata.str.split('by ')
  return tdata

df['Title'] = titleSplit(df['Title'])
df['Title'] = df['Title'].str[0]
df['Title']

0                       Walter Forbes. [A novel.] By A. A
1       All for Greed. [A novel. The dedication signed...
2       Love the Avenger. By the author of “All for Gr...
3       Welsh Sketches, chiefly ecclesiastical, to the...
4       [The World in which I live, and my place in it...
                              ...
8282    The Parochial History of Cornwall, founded on,...
8283    The History and Gazetteer of the County of Der...
8284    Magna Britannia; being a concise topographical...
8285    An historical, topographical and descriptive v...
8286    Collectanea Topographica et Genealogica. [Firs...
Name: Title, Length: 8287, dtype: object

In [184]:
def ppSplit(pdata):
  pdata = pdata.str.split('; ')
  return pdata

df['Place of Publication']=ppSplit(df['Place of Publication'])
df['Place of Publication']=df['Place of Publication'].str[0]
df['Place of Publication']

0                    London
1                    London
2                    London
3                    London
4                    London
               ...
8282                 London
8283                  Derby
8284                 London
8285    Newcastle upon Tyne
8286                 London
Name: Place of Publication, Length: 8287, dtype: object